@use '../../styles/abstracts' as *;

.root {
  display: grid;
  gap: 0.75rem;
  max-width: 75rem;
}

.list {
  display: flex;
  gap: 0.5rem;
  padding: 0.35rem;
  border-radius: $radius-md;
  border: 1px solid var(--color-border);
  background: var(--color-primary);
  width: fit-content;
}

.trigger {
  appearance: none;
  border: 0;
  background: transparent;
  color: inherit;

  border-radius: calc($radius-md - 4px);
  padding: 0.45rem 0.7rem;
  cursor: pointer;
  opacity: 0.85;

  &:hover {
    opacity: 1;
    // background: var(--color-primary-hover);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.25);
  }
}

.active {
  background: rgba(79, 70, 229, 0.2);
  opacity: 1;
}

.panel {
  padding: 0.25rem 0.1rem;
}
